
@{
    ViewData["Title"] = "Contactus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="features" style="padding-top: 20px; padding-bottom: 20px;">
    <div class="container">
        <div class="feat" style=" float:left;  width:33%;">
            <h3 style="text-align: center;">العنوان</h3>
            <p style="text-align: center;">المنطقه الرابعه مدينة السادات المنوفيه</p>

        </div>
        <div class="feat" style="float: left; ;width: 33%; ">
            <h3 style="text-align: center;">الايميل</h3>
            <p style="text-align: center;">fixfactorshop99@gmail.com</p>
        </div>
        <div class="feat" style="float: left; width: 33%; ">
            <h3 style="text-align: center;">اتصل بنا</h3>
            <p style="text-align: center;">01000158315</p>
            <p style="text-align: center;"> 01026888858</p>
        </div>
    </div>

</div>

<div class="j" style="margin-bottom:200px">
    <img src="~/Mobimg/wes.jpg" class="img-fluid" alt="" style="margin-left:400px;margin-top:30px; height:400px;width:700px">

</div>


