
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- ======= About Us Section ======= -->

    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h1 style=" font-family: “Droid Arabic Kufi”, serif;color: #7c795d;margin: 30px; text-align: center;">عن الموقع</h1>
            <h3 style=" font-family: “Droid Arabic Kufi”, serif;margin:10px; text-align:center;">
                مركز فيكس فاكتور لبيع و اصلاح الهواتف الذكية
            </h3>
            <p class="font-serif" style="font-family: “Droid Arabic Kufi”, serif; color: #7c795d; font-family: 'Trocchi'; margin: 30px; text-align: center;">
                مركزنا يقدم جميع خدمات الهاتف المحمول
                يوجد لدينا شحن رصيد و اجهزه جديده و مستعمله 
                و قطع غيار و اكسسوارات اجهزة الهاتف المحمول 
                و يتميز المركز بالصيانه و تغير قطع الغيار التالفه
                نحن نضمن لك الجوده و الامان بأسعار مميزه
            </p>
        </div>

        <div class="row" >
            <div class="col-lg-6" data-aos="fade-right">
                <img src="~/Mobimg/nhu.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" style=" color: #7c795d; font-family: 'Trocchi';margin-top:150px; text-align: center;">
                <h4 style=" color: #7c795d; font-family: 'Trocchi';">العنوان :  مدينة السادات محافظه المنوفيه المنطقه الرابعه</h4>
            <p style=" color: #7c795d; font-family: 'Trocchi'"><a href="https://www.facebook.com/fixfactor.ff/about" >صفحتنا على الفيسبوك</a></p>    
            <p style=" color: #7c795d;">للتواصل :01000158315</p>
            </div>

        </div>

    </div>


