@model FixFactorSystem.Models.Products

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="features" style="        font-family: “Droid Arabic Kufi”, serif;
        color: #7c795d;
        margin: 5px;
        direction: rtl;
        text-align: right;
">
    <div class="container">
        <div class="feat" style=" float: right; width:50%">

            <h1 style="        color: darkmagenta ;
        text-align: right; direction: rtl;
        margin: 10px;
        font-weight: bold">
                تفاصيل
            </h1>

            <dl class="row" style=" direction:rtl; ">
                <dt class="col-sm-2">
          اسم المنتج
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ProductName)
                </dd>
                <dt class="col-sm-2">
              وصف المنتج
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Details)
                </dd>
                <dt class="col-sm-2">
                 سعر المنتج
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Price)
                </dd>
            </dl>
        </div>
        <div class="feat" style=" float: right; width:50%">
            <dl>
                <dt class="col-sm-2">

                </dt>
                <dd>
                    @if (Model.Img != null)
                    {


                        <img src="~/Mobimg/@Model.Img" style="width:300px; height:450px" />
                    }
                </dd>

            </dl>
        </div>
        <div class="ff" style="margin-bottom:700px;">
            <div>
                <a style="color:blueviolet" asp-action="Edit" asp-route-id="@Model.ProductId">تعديل</a> |
                <a style="color:blueviolet" asp-action="Index">عودة</a>
            </div>
        </div>
        </div>
