@{
    ViewData["Title"] = "Home Page";
}



<div id="features" class="section wb">
    <div class="container">
        <div class="section-title text-center">
            <h3>الخدمات</h3>
           
        </div><!-- end title -->

        <div id="default" class="row clearfix zenith_slider">

            <!--The First row-->
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 left-row">
                <ul class="features-left">
                    <li class="highlight lhgh" data-index="0">
                        <i class="flaticon-wordpress-logo effect-1"></i>
                        <div class="fl-inner">
                            <h4>تحويل رصيد</h4>
                            <p>خدمات فورى و شحن الرصيد</p>
                        </div>
                    </li><!-- .highlight .left-row -->

                    <li class="highlight lhgh" data-index="1">
                        <i class="flaticon-windows effect-1"></i>
                        <div class="fl-inner">
                            <h4>عروض و تخفيضات</h4>
                            <p>اسعار مميزه على  الاكسسوارات و قطع الغيار</p>
                        </div>
                    </li><!-- .highlight .left-row -->

                    <li class="highlight lhgh" data-index="2">
                        <i class="flaticon-price-tag effect-1"></i>
                        <div class="fl-inner">
                            <h4>خدمات الصيانه</h4>
                            <p>عمل صيانه شامله للهواتف التالفه فى وقت قصير باسعار مميزه</p>
                        </div>
                    </li><!-- .highlight .left-row -->

                    <li class="highlight lhgh" data-index="3">
                        <i class="flaticon-new-file effect-1"></i>
                        <div class="fl-inner">
                            <h4>هواتف جديده</h4>
                            <p>توجد لدينا هواتف جديده بالضمان باسعار مميزه</p>
                        </div>
                    </li><!-- .highlight .left-row -->
                </ul>
            </div><!-- .row .left-row -->

            <div class="highlights-phone col-lg-4 col-md-4 col-sm-12 col-xs-12 wht">

                <div class="phone-holder">
                    <div id="fon"></div>
                    <div class="hgh-linner hgi" data-index="0">
                        <img width="190" height="320" src="~/Mobimg/yg.jpg" class="attachment-highlight wp-post-image" alt="screen" />
                    </div>
                    <div class="hgh-linner hgi" data-index="1">
                        <img width="234" height="398" src="~/Mobimg/ccx.jpg" class="attachment-highlight wp-post-image" alt="screensdst" />
                    </div>
                    <div class="hgh-linner hgi" data-index="2">
                        <img width="234" height="398" src="~/Mobimg/iph.jpg" class="attachment-highlight wp-post-image" alt="screen_09" />
                    </div>
                    <div class="hgh-rinner hgi" data-index="3">
                        <img width="234" height="398" src="~/Mobimg/krs.jpg" class="attachment-highlight wp-post-image" alt="screen_07" />
                    </div>
                    
                </div>
            </div>

            <!--The Second row-->
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 right-row">
                <ul class="features-right">
                    <li class="highlight rhgh" data-index="4">
                        <i class="flaticon-pantone effect-1"></i>
                        <div class="fr-inner">
                            <h4>قطع غيار</h4>
                            <p>توجد قطع غيار لجميع انواع الاجهزه من شاشات و سماعات </p>
                        </div>
                    </li><!-- .highlight .left-row -->
                    <li class="highlight rhgh" data-index="5">
                        <i class="flaticon-cloud-computing effect-1"></i>
                        <div class="fr-inner">
                            <h4>هواتف مستعمله</h4>
                            <p>توجد لدينا هواتف مستعمله بحاله جيده</p>
                        </div>
                    </li><!-- .highlight .left-row -->
                    <li class="highlight rhgh" data-index="6">
                        <i class="flaticon-line-graph effect-1"></i>
                        <div class="fr-inner">
                            <h4>خدمات ما بعد البيع</h4>
                            <p>لضمان الجوده  </p>
                        </div>
                    </li><!-- .highlight .left-row -->
                    <li class="highlight rhgh" data-index="7">
                        <i class="flaticon-coding effect-1"></i>
                        <div class="fr-inner">
                            <h4>دعم فنى</h4>
                            <p>دعم فنى لكل عملاءنا  </p>
                        </div>
                    </li><!-- .highlight .left-row -->
                </ul>
            </div><!-- .row .left-row -->

        </div><!--Highlights close-->
    </div><!-- end container -->
</div><!-- end section -->


